{% extends 'base.html' %}

{%block title%}{{contato.nome}} {{contato.sobrenome}} | {%endblock%}

{% block conteudo%}
<h1 class="mt-5">Mostrando contato</h1>

<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-5">{{contato.nome}} {{contato.sobrenome}}</h1>
        <dl>
          <dt>ID</dt>
          <dd>{{contato.id}}</dd>

          {% if contato.foto %}
            <dt>Foto</dt>
            <div>
              <img src="{{contato.foto.url}}" alt="Foto" style="max-width: 250px">
            </div>
          {%endif%}

          <dt>Telefone</dt>
          <dd>{{contato.telefone}}</dd>

          <dt>E-mail</dt>
          <dd>{{contato.email}}</dd>

          <dt>Data criação</dt>
          <dd>{{contato.data_criacao|date:'d/m/Y H:i:s'}}</dd>

          <dt>Categoria</dt>
          <dd>{{contato.categoria}}</dd>

          <dt>Descrição</dt>
          <dd>
            {{contato.descricao}}
          </dd>
        </dl>

      </div>
    </div>
  </div>

{%endblock%}